@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

* {
    font-family: 'Roboto', 'sans-serif';
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 22px;
    border: none;
}

:root {
    --cor-principal: #0f0139;
    --cor-secundaria: #FFFFFF;
    --bg-color: #f4f4f4;
}

body {
    background-color: var(--bg-color);
    padding-bottom: 50px;
    overflow-y: scroll;
} 

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px 0;
    background-color: var(--cor-principal);
    & h1 {
        font-size: 1rem;
        color: var(--cor-secundaria);
    }
}
& .fa-paperclip {
    font-size: 1rem;
    color: var(--cor-secundaria);
}

main {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    & h2 {
        font-size: 1rem;
    }
}

.container {
    background-color: var(--cor-secundaria);
    max-width: 450px;
    border-radius: 7px;
    padding: 15px 20px;
    box-shadow: 0 2px 10px rgba(15, 1, 57, 0.2);
    display: flex;
    gap: 12px;
    transition: 0.05s;
    &:hover {
        background-color: var(--bg-color);
    }
}

.div-inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

ul {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
} 

#ul1, #ul2 {
    display: none;
}

#btn-submit {
    align-self: flex-end;
    font-size: 0.6rem;
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
    padding: 3px 6px;
    border-radius: 7px;
    border: 2px var(--cor-principal) solid;
    cursor: pointer;
    transition: 0.1s;
    &:hover {
        color: var(--cor-secundaria);
        background-color: var(--cor-principal);
    }
}

input {
    outline: none;
    font-size: 0.7rem;
    background-color: inherit;
    &[type='text'] {
        width: 250px;
    }
    &[type='date'] {
        font-size: 0.63rem;
    }
    &[type='checkbox'] {
        cursor: pointer;
        &:disabled {
            cursor: not-allowed;
        }  
    }
}

.fa-trash-can, .fa-pen-to-square, .fa-check {
    font-size: 0.75rem;
    transition: 0.2s;
    cursor: pointer;
    &:hover {
        scale: 1.2;
    }
}
    
.div-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    cursor: pointer;
    & .fa-chevron-right {
        font-size: 0.7rem;
        color: var(--cor-principal);
    }
}

.mensagem-vazio {
    font-size: 0.75rem;
}

#btn-limpar {
    display: none;
    font-size: 0.8rem;
    text-decoration: underline;
    color: var(--cor-principal);
    cursor: pointer;
    position: relative;
    left: 190px;
}